/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'aleobold';
  src: url("../assets/fonts/aleo/Aleo-Bold-webfont.eot");
  src: url("../assets/fonts/aleo/Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/aleo/Aleo-Bold-webfont.woff2") format("woff2"), url("../assets/fonts/aleo/Aleo-Bold-webfont.woff") format("woff"), url("../assets/fonts/aleo/Aleo-Bold-webfont.ttf") format("truetype"), url("../assets/fonts/aleo/Aleo-Bold-webfont.svg#aleobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aleoregular';
  src: url("../assets/fonts/aleo/Aleo-Regular-webfont.eot");
  src: url("../assets/fonts/aleo/Aleo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/aleo/Aleo-Regular-webfont.woff2") format("woff2"), url("../assets/fonts/aleo/Aleo-Regular-webfont.woff") format("woff"), url("../assets/fonts/aleo/Aleo-Regular-webfont.ttf") format("truetype"), url("../assets/fonts/aleo/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'manus';
  src: url("../assets/fonts/manus/MNS_TRIAL-webfont.eot");
  src: url("../assets/fonts/manus/MNS_TRIAL-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/manus/MNS_TRIAL-webfont.woff2") format("woff2"), url("../assets/fonts/manus/MNS_TRIAL-webfont.woff") format("woff"), url("../assets/fonts/manus/MNS_TRIAL-webfont.ttf") format("truetype"), url("../assets/fonts/manus/MNS_TRIAL-webfont.svg#manustrialmanustrial") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../_scss/screen.scss */
body {
  background: url("../assets/pattern.jpg");
  font-family: Aleoregular, sans-serif, Verdana;
  font-size: 62.5%;
}

/* line 14, ../_scss/screen.scss */
* {
  box-sizing: border-box;
}

/* line 18, ../_scss/screen.scss */
a:link {
  text-decoration: none;
}

/* line 23, ../_scss/screen.scss */
span {
  display: none;
}

/* line 28, ../_scss/screen.scss */
.default-input {
  display: block;
  margin: 10px auto;
  color: #626262;
  font-family: inherit;
  width: 486px;
  height: 68px;
  padding: 10px;
  font-size: 2.8em;
  border: 3px solid #c2c2c2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 39, ../_scss/screen.scss */
.default-input:focus {
  border-color: #949494;
  outline: none;
}

/* line 49, ../_scss/screen.scss */
.home-container .home-headerke {
  background-image: url("../assets/home_header.png");
  background-repeat: no-repeat;
  margin: 0px auto;
  width: 640px;
  height: 507px;
  display: block;
}
/* line 58, ../_scss/screen.scss */
.home-container .info {
  background-image: url("../assets/info.png");
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  display: block;
  margin: 25px auto;
  color: #FFFFFF;
  padding-left: 23px;
  padding-top: 12px;
  font-size: 3em;
}
/* line 73, ../_scss/screen.scss */
.home-container .register {
  display: block;
  background-image: url("../assets/kant-pattern2.jpg");
  background-repeat: repeat-x;
  font-size: 3.6em;
  color: #FFF;
  text-align: center;
  padding-top: 44px;
  background-color: #6cbca3;
  width: 440px;
  height: 120px;
  margin: 0px auto;
}
/* line 89, ../_scss/screen.scss */
.home-container .email-input, .home-container .password-input {
  width: 440px;
}
/* line 93, ../_scss/screen.scss */
.home-container .login-p {
  margin-top: 60px;
  margin-bottom: 20px;
}

/* line 99, ../_scss/screen.scss */
.login-submit, .terug-week, .back {
  color: #fff;
  font-family: inherit;
  border: none;
  background-color: #ed564d;
  display: block;
  margin: 10px auto;
  font-size: 3.6em;
  width: 230px;
  height: 85px;
  text-align: center;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 111, ../_scss/screen.scss */
.login-submit:focus, .terug-week:focus, .back:focus {
  outline: none;
}

/* line 116, ../_scss/screen.scss */
.gray-p {
  text-align: center;
  color: #c2c2c2;
  font-size: 2.2em;
}

/* line 122, ../_scss/screen.scss */
.terug {
  background-color: #6cbca3;
  font-size: 2.6em;
  color: #fff;
  letter-spacing: 1px;
  padding: 15px 15px 17px 15px;
  display: block;
  width: 130px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 4px 4px 0px;
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}
/* line 133, ../_scss/screen.scss */
.terug:before {
  display: inline-block;
  -moz-transform: translate(-5px, 5px);
  -ms-transform: translate(-5px, 5px);
  -webkit-transform: translate(-5px, 5px);
  transform: translate(-5px, 5px);
  width: 20px;
  content: url("../assets/back-arrow.png");
}

/* line 141, ../_scss/screen.scss */
.photo-input {
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  height: 219px;
  opacity: 0;
}

/* line 152, ../_scss/screen.scss */
.register-container h1 {
  background-image: url("../assets/register_header.png");
  background-repeat: no-repeat;
  width: 640px;
  height: 182px;
  display: block;
}
/* line 161, ../_scss/screen.scss */
.register-container .gray-p {
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
/* line 165, ../_scss/screen.scss */
.register-container .fieldset {
  color: #6cbca3;
  font-size: 2.8em;
  text-align: center;
  margin-bottom: 20px;
}
/* line 170, ../_scss/screen.scss */
.register-container .fieldset:before {
  padding-right: 10px;
  content: url("../assets/small-curl-left.png");
}
/* line 174, ../_scss/screen.scss */
.register-container .fieldset:after {
  padding-left: 10px;
  content: url("../assets/small-curl-right.png");
}
/* line 180, ../_scss/screen.scss */
.register-container .fieldset-woonplaats {
  padding-top: 34px;
}
/* line 182, ../_scss/screen.scss */
.register-container .fieldset-woonplaats:before {
  padding-right: 10px;
  content: url("../assets/long-curl-left.png");
}
/* line 186, ../_scss/screen.scss */
.register-container .fieldset-woonplaats:after {
  padding-left: 10px;
  content: url("../assets/long-curl-right.png");
}
/* line 192, ../_scss/screen.scss */
.register-container .town-input {
  width: 138px;
  margin: 0;
  display: inline-block;
}
/* line 198, ../_scss/screen.scss */
.register-container .use-location {
  margin-top: 2px;
  margin-left: 9px;
  background-color: #6cbca3;
  font-family: inherit;
  color: #FFF;
  border: none;
  height: 66px;
  width: 330px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 2.8em;
}
/* line 211, ../_scss/screen.scss */
.register-container .use-location:before {
  display: inline-block;
  -moz-transform: translate(-10px, 5px);
  -ms-transform: translate(-10px, 5px);
  -webkit-transform: translate(-10px, 5px);
  transform: translate(-10px, 5px);
  height: 28px;
  content: url("../assets/location.png");
}
/* line 219, ../_scss/screen.scss */
.register-container .group {
  width: 486px;
  margin: 0px auto;
}
/* line 224, ../_scss/screen.scss */
.register-container .photo-upload {
  position: relative;
  display: inline-block;
  border: #ebebeb solid 1px;
  width: 214px;
  height: 214px;
  font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
  color: #7f7f7f;
  z-index: 1;
  margin-top: 120px;
  margin-left: 20px;
  background: white;
  background-size: 214px 214px;
  background-image: url("../assets/upload-photo.png");
}
/* line 241, ../_scss/screen.scss */
.register-container .photo-preview {
  position: relative;
  z-index: 2;
  width: 216px;
}
/* line 247, ../_scss/screen.scss */
.register-container .preview-cont {
  width: 216px;
  height: 216px;
  margin-left: 40px;
  margin-top: 70px;
  overflow: hidden;
  position: absolute;
}
/* line 257, ../_scss/screen.scss */
.register-container .frame {
  position: relative;
  z-index: -2;
  background-image: url("../assets/frame.png");
  width: 289px;
  height: 327px;
  -moz-transform: translate(-40px, -73px);
  -ms-transform: translate(-40px, -73px);
  -webkit-transform: translate(-40px, -73px);
  transform: translate(-40px, -73px);
}
/* line 266, ../_scss/screen.scss */
.register-container .register-submit {
  display: block;
  margin-top: 100px;
}
/* line 271, ../_scss/screen.scss */
.register-container .group-photo {
  float: left;
  margin-left: 84px;
}
/* line 276, ../_scss/screen.scss */
.register-container .center {
  width: 640px;
  height: 400px;
  margin: 0px auto;
  overflow: hidden;
}
/* line 283, ../_scss/screen.scss */
.register-container .photo-p-div {
  float: right;
  font-size: 2.4em;
  width: 220px;
  height: 100px;
  margin-right: 50px;
  -moz-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
}
/* line 292, ../_scss/screen.scss */
.register-container .photo-p {
  display: block;
  float: left;
  color: #c2c2c2;
}
/* line 298, ../_scss/screen.scss */
.register-container .register-submit {
  display: block;
  box-sizing: border-box;
  background-image: url("../assets/kant-pattern2.jpg");
  background-repeat: repeat-x;
  font-size: 3.6em;
  color: #FFF;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 14px;
  border: none;
  background-color: #6cbca3;
  width: 440px;
  height: 120px;
  margin: 40px auto;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 5px 5px;
}
/* line 314, ../_scss/screen.scss */
.register-container .register-submit:focus {
  outline: none;
}

/* line 322, ../_scss/screen.scss */
.waiting-container h1 {
  background-image: url("../assets/deelnemers_header.png");
  width: 640px;
  margin: 0px auto;
  height: 172px;
}
/* line 329, ../_scss/screen.scss */
.waiting-container .date-week {
  margin-top: 18px;
  color: #6cbca3;
  font-size: 2.6em;
  text-align: center;
}
/* line 336, ../_scss/screen.scss */
.waiting-container .img-curl {
  display: block;
  width: 146px;
  margin: 7px auto;
}
/* line 342, ../_scss/screen.scss */
.waiting-container .users {
  width: 640px;
  height: 790px;
  margin: 0px auto;
  overflow: auto;
}
/* line 349, ../_scss/screen.scss */
.waiting-container li {
  text-align: center;
  float: left;
}
/* line 352, ../_scss/screen.scss */
.waiting-container li p {
  margin-top: 30px;
  font-family: manus, sans-serif;
  font-size: 3em;
  color: #352725;
  letter-spacing: 2px;
}
/* line 361, ../_scss/screen.scss */
.waiting-container .frame1 {
  margin-left: 52px;
  margin-top: 60px;
}
/* line 365, ../_scss/screen.scss */
.waiting-container .frame1 .square {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
/* line 371, ../_scss/screen.scss */
.waiting-container .frame1 .img-usr {
  width: 250px;
}
/* line 375, ../_scss/screen.scss */
.waiting-container .frame1:before {
  margin-left: -139px;
  margin-top: -50px;
  position: absolute;
  content: url("../assets/frame1.png");
}
/* line 383, ../_scss/screen.scss */
.waiting-container .frame2 {
  margin-left: 68px;
  margin-top: 105px;
  margin-bottom: 40px;
}
/* line 389, ../_scss/screen.scss */
.waiting-container .frame2 .square {
  width: 224px;
  height: 224px;
  overflow: hidden;
}
/* line 395, ../_scss/screen.scss */
.waiting-container .frame2 .img-usr {
  width: 224px;
}
/* line 399, ../_scss/screen.scss */
.waiting-container .frame2:before {
  margin-left: -139px;
  margin-top: -50px;
  position: absolute;
  content: url("../assets/frame2.png");
}
/* line 407, ../_scss/screen.scss */
.waiting-container .frame3 {
  margin-left: 60px;
  margin-top: 63px;
}
/* line 411, ../_scss/screen.scss */
.waiting-container .frame3 .square {
  width: 225px;
  height: 225px;
  overflow: hidden;
}
/* line 417, ../_scss/screen.scss */
.waiting-container .frame3 .img-usr {
  width: 225px;
}
/* line 421, ../_scss/screen.scss */
.waiting-container .frame3:before {
  margin-left: -139px;
  margin-top: -50px;
  position: absolute;
  content: url("../assets/frame3.png");
}
/* line 429, ../_scss/screen.scss */
.waiting-container .frame4 {
  margin-left: 66px;
  margin-top: 40px;
}
/* line 433, ../_scss/screen.scss */
.waiting-container .frame4 .square {
  width: 223px;
  height: 223px;
  overflow: hidden;
}
/* line 439, ../_scss/screen.scss */
.waiting-container .frame4 .img-usr {
  width: 223px;
}
/* line 443, ../_scss/screen.scss */
.waiting-container .frame4:before {
  margin-left: -139px;
  margin-top: -50px;
  position: absolute;
  content: url("../assets/frame4.png");
}
/* line 452, ../_scss/screen.scss */
.waiting-container .ga-verder {
  color: #fff;
  font-family: inherit;
  border: none;
  background-color: #ed564d;
  display: block;
  margin: 10px auto;
  padding-top: 24px;
  font-size: 3.6em;
  width: 230px;
  height: 85px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 466, ../_scss/screen.scss */
.waiting-container .ga-verder:focus {
  outline: none;
}

/* line 473, ../_scss/screen.scss */
.week-container .header-week {
  width: 640px;
  height: 172px;
  background-image: url("../assets/week_header.png");
  margin: 0px auto;
}
/* line 480, ../_scss/screen.scss */
.week-container .gray-p {
  margin-top: 10px;
  margin-bottom: 37px;
}
/* line 485, ../_scss/screen.scss */
.week-container ul {
  width: 640px;
  margin: 0px auto;
}
/* line 490, ../_scss/screen.scss */
.week-container li {
  height: 200px;
  background-image: url("../assets/pattern-week.jpg");
  margin-top: 20px;
  overflow: auto;
}
/* line 497, ../_scss/screen.scss */
.week-container .date-overview {
  float: left;
  width: 220px;
}
/* line 501, ../_scss/screen.scss */
.week-container .date-overview p {
  margin-top: 80px;
  text-align: center;
  font-size: 3.8em;
  color: #FFF;
}
/* line 509, ../_scss/screen.scss */
.week-container .info-overview {
  float: left;
  color: #413934;
  margin-left: 10px;
  width: 340px;
}
/* line 515, ../_scss/screen.scss */
.week-container .info-overview h1 {
  font-family: aleobold, aleoregular, sans-serif;
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 10px;
}
/* line 522, ../_scss/screen.scss */
.week-container .info-overview p {
  font-size: 2.8em;
}
/* line 527, ../_scss/screen.scss */
.week-container .date-overview p, .week-container .winner p {
  color: #fff;
  padding-top: 8px;
  background-repeat: no-repeat;
  background-position: center;
  width: 181px;
  height: 53px;
  margin: 0px auto;
  margin-top: 73px;
  display: block;
  background-image: url("../assets/grey-date.png");
}
/* line 543, ../_scss/screen.scss */
.week-container .thisDay .active .date-overview p {
  background-image: url("../assets/red-date.png");
}
/* line 547, ../_scss/screen.scss */
.week-container .thisDay .active:after {
  content: url("../assets/red-arrow.png");
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}
/* line 555, ../_scss/screen.scss */
.week-container .thisDay .date-overview:before {
  display: block;
  position: absolute;
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  content: url("../assets/vandaag_label.png");
}
/* line 563, ../_scss/screen.scss */
.week-container .active .date-overview p {
  background-image: url("../assets/green-date.png");
}
/* line 568, ../_scss/screen.scss */
.week-container .active:after {
  content: url("../assets/green-arrow.png");
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}
/* line 576, ../_scss/screen.scss */
.week-container .winner {
  text-align: center;
}
/* line 580, ../_scss/screen.scss */
.week-container .winner p {
  font-size: 3.8em;
}
/* line 584, ../_scss/screen.scss */
.week-container .winner a {
  display: block;
  margin: 20px 0px;
  font-size: 3.6em;
  padding: 20px;
  background-color: #636363;
  color: #FFF;
}
/* line 591, ../_scss/screen.scss */
.week-container .winner a:before {
  content: url("../assets/leftie.png");
  margin-right: 15px;
}
/* line 595, ../_scss/screen.scss */
.week-container .winner a:after {
  content: url("../assets/rightie.png");
  margin-left: 15px;
}
/* line 604, ../_scss/screen.scss */
.week-container .lastDay a {
  background-color: #ed564d;
}
/* line 608, ../_scss/screen.scss */
.week-container .lastDay p {
  background-image: url("../assets/red-date.png");
}

/* line 617, ../_scss/screen.scss */
.day-container .header-name {
  background-image: url("../assets/empty-header.png");
  background-repeat: no-repeat;
  width: 640px;
  height: 172px;
  margin: 0px auto;
  color: #302725;
  font-family: manus, sans-serif;
  font-size: 5.8em;
  text-align: center;
  padding-top: 100px;
}
/* line 631, ../_scss/screen.scss */
.day-container .datum-vandaag {
  text-align: center;
  font-size: 2.8em;
  color: #6cbca3;
}
/* line 638, ../_scss/screen.scss */
.day-container .crop {
  float: left;
  width: 185px;
  height: 185px;
  overflow: hidden;
  margin: 15px;
}
/* line 644, ../_scss/screen.scss */
.day-container .crop img {
  width: 185px;
}
/* line 648, ../_scss/screen.scss */
.day-container .crop:before {
  position: absolute;
  margin-left: -9px;
  margin-top: -8px;
  content: url("../assets/seam.png");
}
/* line 656, ../_scss/screen.scss */
.day-container .info-user {
  margin-top: 20px;
  overflow: auto;
  background-image: url("../assets/pattern-week.jpg");
  margin-bottom: 20px;
}
/* line 662, ../_scss/screen.scss */
.day-container .info-user h1, .day-container .info-user p {
  margin-left: 10px;
  float: left;
  display: block;
}
/* line 668, ../_scss/screen.scss */
.day-container .info-user h1 {
  font-family: aleobold, sans-serif;
  font-size: 2.5em;
  width: 400px;
  margin-top: 70px;
}
/* line 675, ../_scss/screen.scss */
.day-container .info-user p {
  margin-top: 10px;
  font-size: 2.5em;
}
/* line 683, ../_scss/screen.scss */
.day-container header h1 {
  text-align: center;
  display: block;
  background-color: #6cbca3;
  font-size: 3.4em;
  color: #fff;
  padding: 10px 0px;
}
/* line 692, ../_scss/screen.scss */
.day-container header h1:before {
  content: url("../assets/stitches.png");
  position: absolute;
  margin-left: -80px;
  margin-top: -4px;
}
/* line 700, ../_scss/screen.scss */
.day-container header h1:after {
  content: url("../assets/stitches.png");
  position: absolute;
  margin-left: 10px;
  margin-top: -4px;
}

/* line 710, ../_scss/screen.scss */
.votes {
  text-align: center;
}
/* line 714, ../_scss/screen.scss */
.votes ul {
  width: 600px;
  margin: 0px auto;
  overflow: auto;
}
/* line 718, ../_scss/screen.scss */
.votes ul p {
  margin-top: 30px;
  font-size: 2.5em;
  color: #3b3b3b;
}
/* line 724, ../_scss/screen.scss */
.votes ul li {
  margin-top: 40px;
  float: left;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 20px;
  text-align: left;
}
/* line 732, ../_scss/screen.scss */
.votes ul li p {
  margin-top: 130px;
  background-image: url("../assets/green-dot.png");
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  color: #fff;
  padding-left: 17px;
  padding-top: 11px;
}
/* line 743, ../_scss/screen.scss */
.votes ul li .voted {
  background-image: url("../assets/red-dot.png");
}
/* line 749, ../_scss/screen.scss */
.votes .gebak li {
  width: 183px;
  height: 189px;
}
/* line 754, ../_scss/screen.scss */
.votes .gelach li {
  width: 164px;
  height: 156px;
  margin-right: 35px;
}
/* line 759, ../_scss/screen.scss */
.votes .gelach li p {
  margin-top: 105px;
}
/* line 764, ../_scss/screen.scss */
.votes .geur li {
  margin-right: 0px;
}
/* line 769, ../_scss/screen.scss */
.votes .one-gebak {
  background-image: url("../assets/gebak-een.png");
}
/* line 773, ../_scss/screen.scss */
.votes .two-gebak {
  background-image: url("../assets/gebak-twee.png");
}
/* line 777, ../_scss/screen.scss */
.votes .three-gebak {
  margin-right: 0px;
  background-image: url("../assets/gebak-drie.png");
}
/* line 782, ../_scss/screen.scss */
.votes .one-lach {
  background-image: url("../assets/lach-een.png");
}
/* line 786, ../_scss/screen.scss */
.votes .two-lach {
  background-image: url("../assets/lach-twee.png");
}
/* line 790, ../_scss/screen.scss */
.votes .three-lach {
  margin-right: 0px;
  background-image: url("../assets/lach-twee.png");
}
/* line 795, ../_scss/screen.scss */
.votes .one-geur {
  width: 204px;
  height: 195px;
  background-image: url("../assets/geur-een.png");
}
/* line 801, ../_scss/screen.scss */
.votes .two-geur {
  width: 188px;
  height: 189px;
  background-image: url("../assets/geur-twee.png");
}
/* line 807, ../_scss/screen.scss */
.votes .three-geur {
  width: 167px;
  height: 192px;
  margin-left: 15px;
  background-image: url("../assets/geur-drie.png");
}

/* line 816, ../_scss/screen.scss */
.error {
  display: block;
  border-color: #ed564d;
}

/* line 821, ../_scss/screen.scss */
.register-container .red {
  color: #ed564d;
}

/* line 825, ../_scss/screen.scss */
.error-town {
  margin-top: 5px;
}

/* line 829, ../_scss/screen.scss */
.empty {
  color: #ed564d;
  font-size: 2.2em;
  margin-bottom: 4px;
  font-family: aleobold, aleoregular, sans-serif;
  text-align: center;
}

/* line 838, ../_scss/screen.scss */
.winners-container .winners {
  width: 640px;
  margin: 0px auto;
  overflow: auto;
}
/* line 843, ../_scss/screen.scss */
.winners-container header h1 {
  width: 640px;
  height: 220px;
  margin: 0px auto;
  background-image: url("../assets/winnaar-header.png");
  background-repeat: no-repeat;
}
/* line 851, ../_scss/screen.scss */
.winners-container li {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 50px;
}
/* line 856, ../_scss/screen.scss */
.winners-container li:after {
  overflow: hidden;
  display: block;
  content: url("../assets/stripe.png");
  margin-top: 50px;
}
/* line 865, ../_scss/screen.scss */
.winners-container .square {
  float: left;
  width: 183px;
  height: 183px;
  overflow: hidden;
}
/* line 870, ../_scss/screen.scss */
.winners-container .square img {
  width: 183px;
}
/* line 873, ../_scss/screen.scss */
.winners-container .square:before {
  position: absolute;
  margin-left: -10px;
  margin-top: -8px;
  content: url("../assets/seam.png");
}
/* line 881, ../_scss/screen.scss */
.winners-container li h1 {
  font-size: 2.6em;
  color: #373737;
  margin-bottom: 14px;
  font-family: aleobold, aleoregular, sans-serif;
}
/* line 888, ../_scss/screen.scss */
.winners-container .reg {
  display: inline;
  font-family: aleoregular, sans-serif;
}
/* line 893, ../_scss/screen.scss */
.winners-container .label {
  display: inline-block;
  padding-left: 50px;
  width: 270px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ebebeb;
  font-size: 2.3em;
}
/* line 904, ../_scss/screen.scss */
.winners-container .label-el {
  box-sizing: border-box;
  margin-top: 24px;
  display: block;
}
/* line 910, ../_scss/screen.scss */
.winners-container .score {
  position: absolute;
  margin-left: -20px;
  margin-top: -7px;
  color: #fff;
  font-size: 2.8em;
  font-family: aleobold, aleoregular, sans-serif;
  display: inline-block;
  width: 42px;
  padding-top: 13px;
  padding-left: 13px;
  height: 55px;
  background-image: url("../assets/ruit.png");
  background-repeat: no-repeat;
}
/* line 927, ../_scss/screen.scss */
.winners-container .terug-week {
  padding-top: 22px;
  width: 390px;
  margin-bottom: 30px;
}
/* line 934, ../_scss/screen.scss */
.winners-container .number1 {
  margin-top: 0px;
  margin-bottom: 60px;
}
/* line 938, ../_scss/screen.scss */
.winners-container .number1:after {
  margin-top: 80px;
}
/* line 941, ../_scss/screen.scss */
.winners-container .number1 .square {
  width: 233px;
  height: 233px;
}
/* line 945, ../_scss/screen.scss */
.winners-container .number1 .square img {
  width: 233px;
}
/* line 949, ../_scss/screen.scss */
.winners-container .number1 .square:before {
  margin-left: -37px;
  margin-top: -58px;
  content: url("../assets/winner-frame.png");
}
/* line 956, ../_scss/screen.scss */
.winners-container .number1 h1 {
  font-family: manus, sans-serif;
  font-size: 3.4em;
  padding: 17px;
  margin-left: 240px;
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}
/* line 963, ../_scss/screen.scss */
.winners-container .number1 h1 .reg {
  display: none;
}
/* line 968, ../_scss/screen.scss */
.winners-container .number1 .top-label {
  margin-top: 70px;
}

/* line 974, ../_scss/screen.scss */
.cms {
  display: block;
  margin: 0px auto;
  width: 240px;
  padding: 20px;
  position: fixed;
  font-size: 2em;
  -webkit-appearance: menulist-button;
  height: 46px;
}

/* line 986, ../_scss/screen.scss */
.outer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
}

/* line 1000, ../_scss/screen.scss */
.mid {
  display: table-cell;
  vertical-align: middle;
}

/* line 1005, ../_scss/screen.scss */
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  height: 560px;
  color: #666666;
  font-size: 2.6em;
  background-color: #fff;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 1016, ../_scss/screen.scss */
.inner h1 {
  color: #6cbca3;
  padding-top: 40px;
  font-size: 1.9em;
  margin-bottom: 50px;
}
/* line 1023, ../_scss/screen.scss */
.inner p {
  width: 490px;
  margin-left: 20px;
  line-height: 34px;
}
/* line 1029, ../_scss/screen.scss */
.inner .back {
  background-color: #6cbca3;
  font-size: 1.4em;
  padding-top: 21px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* line 1038, ../_scss/screen.scss */
.gallery {
  /*:first-child + div{
  	width: 100px;
  } */
}
/* line 1041, ../_scss/screen.scss */
.gallery .photo-gal-upload {
  position: absolute;
  display: inline-block;
  border: #ebebeb solid 1px;
  width: 197px;
  height: 197px;
  left: 430px;
  margin-top: 15px;
  z-index: 2;
  background: white;
  background-image: url("../assets/plus.jpg");
}
/* line 1056, ../_scss/screen.scss */
.gallery .img-gallery {
  width: 197px;
  overflow: hidden;
  height: 197px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}
/* line 1063, ../_scss/screen.scss */
.gallery .img-gallery img {
  width: 197px;
}
/* line 1072, ../_scss/screen.scss */
.gallery .photos .image-gallery img {
  width: 100px;
}
