@import "compass/reset";
@import "compass/css3";

@import "fonts";

$green: #6cbca3;

body{
	background: url('../assets/pattern.jpg');
	font-family: Aleoregular, sans-serif, Verdana;
	font-size: 62.5%;
}

*{box-sizing: border-box;}


a{
	&:link{
		text-decoration: none;
	}
}

span{
	display: none;
}


.default-input{
		display: block;
		margin: 10px auto;
		color: #626262;
		font-family: inherit;
		width: 486px;
		height: 68px;
		padding: 10px;
		font-size: 2.8em;
		border: 3px solid #c2c2c2;
		@include border-radius(5px);
		&:focus{
			border-color: #949494;
			outline: none;
		}
}


.home-container{


	h1{
		background-image: url('../assets/home_header.png');
		background-position: top center;
		background-repeat: no-repeat;
		width: 640px;
		height: 507px;
		display: block;
	}

	.info{
		background-image: url('../assets/info.png');
		background-repeat: no-repeat;
		width: 54px;
		height: 54px;
		display: block;
		margin: 25px auto;
		p{
			color: #FFFFFF;
			display: inline-block;
			margin-left: 23px;
			margin-top: 12px;
			font-size: 3em;
		}
	}

	.register{
		display: block;
		background-image: url('../assets/kant-pattern2.jpg');
		background-repeat: repeat-x;
		font-size: 3.6em;
		color: #FFF;
		text-align: center;
		padding-top: 44px;
		background-color: $green;
		width: 440px;
		height: 120px;
		margin: 0px auto;

	}

	
	.email-input, .password-input{
		width: 440px;
	}

	.login-p{
		margin-top: 60px;
		margin-bottom: 20px;
	}
}

.login-submit, .terug-week{
		color: #fff;
		font-family: inherit;
		border: none;
		background-color: #ed564d;
		display: block;
		margin: 10px auto;
		font-size: 3.6em;
		width: 230px;
		height: 85px;
		text-align: center;
		@include border-radius(8px);
		&:focus{
			outline: none;
		}
	}

.gray-p{
		text-align: center;
		color: #c2c2c2;
		font-size: 2.2em;
	}

.terug{
		background-color: $green;
		font-size: 2.6em;
		color: #fff;
		letter-spacing: 1px;
		padding: 15px 15px 17px 15px;
		display: block;
		width: 130px;
		@include border-radius(0px 4px 4px 0px);
		@include transform(translateY(-100px));
		&:before{
			display: inline-block;
			@include transform(translate(-5px, 5px));
			width: 20px;
			content: url('../assets/back-arrow.png');
		}
	}

.register-container{

	h1{
		background-image: url('../assets/register_header.png');
		background-repeat: no-repeat;
		width: 640px;
		height: 182px;
		display: block;
	}

	
	.gray-p{
		@include transform(translateY(-50px));
	}

	.fieldset{
		color: $green;
		font-size: 2.8em;
		text-align: center;
		margin-bottom: 20px;
		&:before{
			padding-right: 10px;
			content: url('../assets/small-curl-left.png');
		}
		&:after{
			padding-left: 10px;
			content: url('../assets/small-curl-right.png');
		}
	}

	.fieldset-woonplaats{
		padding-top: 34px;
		&:before{
			padding-right: 10px;
			content: url('../assets/long-curl-left.png');
		}
		&:after{
			padding-left: 10px;
			content: url('../assets/long-curl-right.png');
		}
	}

	.town-input{
		width: 138px;
		margin: 0;
		display: inline-block;
	}

	.use-location{
		margin-top: 2px;
		margin-left: 9px;
		background-color: $green;
		font-family: inherit;
		color: #FFF;
		border: none;
		height: 66px;
		width: 330px;
		@include border-radius(5px);
		//@include transform(translateY(-1px));
		font-size: 2.8em;

		&:before{
			display: inline-block;
			@include transform(translate(-10px, 5px));
			height: 28px;
			content: url('../assets/location.png')
		}
	}

	.group{
		width: 486px;
		margin: 0px auto;
	}

	.photo-upload{
		 position:relative;
		    display:inline-block;    
		    border:#ebebeb solid 1px;
		    width:214px;
		    height: 214px; 
		    //padding: 4px 6px 4px 8px;
		    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
		    color: #7f7f7f;
		    z-index: 1;
		    margin-top: 120px;
		    margin-left: 20px;
		    background:white;
		    background-size: 214px 214px;
		    background-image: url('../assets/upload-photo.png');
	}

	.photo-preview{
		position: relative;
		z-index: 2;
		width: 216px;
	}

	.preview-cont{
		width: 216px;
		height: 216px;
		margin-left: 40px;
		margin-top: 70px;
		overflow: hidden;
		position: absolute;
	}

	.photo-input{
		-moz-appearance: none; 
		-o-appearance: none; 
		-webkit-appearance: none; 
	    position:absolute;
	    height: 219px;
	    opacity:0; 
	}

	.frame{
		position: relative;
				z-index: -2;

		background-image: url('../assets/frame.png');
		width: 289px;
		height: 327px;
		@include transform(translate(-40px, -73px));
	}

	.register-submit{
		display: block;
		margin-top: 100px;
	}

	.group-photo{
		float: left;
		margin-left: 84px;
	}

	.center{
		width: 640px;
		height: 400px;
		margin: 0px auto;
		overflow: hidden;
	}

	.photo-p-div{
		float:right;
		font-size: 2.4em;
		width: 220px;
		height: 100px;
		margin-right: 50px;
		@include transform(translateY(-150px));
	}

	.photo-p{
		display: block;
		float: left;
		color: #c2c2c2;
	}

	.register-submit{
		display: block;
		box-sizing: border-box;
		background-image: url('../assets/kant-pattern2.jpg');
		background-repeat: repeat-x;
		font-size: 3.6em;
		color: #FFF;
		text-align: center;
		letter-spacing: 1px;
		padding-top: 14px;
		border: none;
		background-color: $green;
		width: 440px;
		height: 120px;
		margin: 40px auto;
		@include border-radius(0px 0px 5px 5px);
		&:focus{
			outline: none;
		}
	}
}


.waiting-container{
	h1{
		background-image: url('../assets/deelnemers_header.png');
		width: 640px;
		margin: 0px auto;
		height: 172px;
	}

	.date-week{
		margin-top: 18px;
		color: $green;
		font-size: 2.6em;
		text-align: center;
	}

	.img-curl{
		display: block;
		width: 146px;
		margin: 7px auto;
	}

	.users{
		width: 640px;
		height: 790px;
		margin: 0px auto;
		overflow: auto;
	}

	li{
		text-align: center;
		float: left;
		p{
			margin-top: 30px;
			font-family: Manus, sans-serif;
			font-size: 3em;
			color: #352725;
			letter-spacing: 2px;
		}
	}

	.frame1{
		margin-left: 52px;
		margin-top: 60px;
		.square{
			width: 250px;
			height: 250px;
			overflow: hidden;
		}

		.img-usr{
			width: 250px;
		}
		&:before{
		margin-left: -139px;
		margin-top: -50px;
		 position: absolute;
		 content: url('../assets/frame1.png');
		}
	}

	.frame2{
		margin-left: 68px;
		margin-top: 105px;
		margin-bottom: 40px;
		.square{
		width: 224px;
		height: 224px;
		overflow: hidden;
		}

		.img-usr{
			width: 224px;
		}

		&:before{
			margin-left: -139px;
			margin-top: -50px;
			position: absolute;
			content: url('../assets/frame2.png');
		}
	}

	.frame3{
		margin-left: 60px;
		margin-top: 63px;
		.square{
		width: 225px;
		height: 225px;
		overflow: hidden;
		}

		.img-usr{
			width: 225px;
		}

		&:before{
			margin-left: -139px;
			margin-top: -50px;
			position: absolute;
			content: url('../assets/frame3.png');
		}
	}

	.frame4{
		margin-left: 66px;
		margin-top: 40px;

		.square{
			width: 223px;
			height: 223px;
			overflow: hidden;
		}

		.img-usr{
			width: 223px;
		}

		&:before{
		margin-left: -139px;
		margin-top: -50px;
		 position: absolute;
		 content: url('../assets/frame4.png');
		}
	}

	
	.ga-verder{
		color: #fff;
		font-family: inherit;
		border: none;
		background-color: #ed564d;
		display: block;
		margin: 10px auto;
		padding-top: 24px;
		font-size: 3.6em;
		width: 230px;
		height: 85px;
		text-align: center;
		@include border-radius(5px);
		
		&:focus{
			outline: none;
		}
	}
}

.week-container{
	.header-week{
		width: 640px;
		height: 172px;
		background-image: url('../assets/week_header.png');
		margin: 0px auto;
	}

	.gray-p{
		margin-top: 10px;
		margin-bottom: 37px;
	}

	ul{
		width: 640px;
		margin: 0px auto;
	}

	li{
		height: 200px;
		background-image: url('../assets/pattern-week.jpg');
		margin-top: 20px;
		overflow: auto;
	}

	.date-overview{
		float: left;
		width: 220px;

		p{
			margin-top: 80px;
			text-align: center;
			font-size: 3.8em;
			color: #FFF;
		}
	}

	.info-overview{
		float: left;
		color: #413934;
		margin-left: 10px;
		width: 340px;

		h1{
			font-family: aleobold, aleoregular, sans-serif;
			font-size: 3em;
			margin-top: 50px;
			margin-bottom: 10px;
		}

		p{
			font-size: 2.8em;
		}
	}

	.date-overview p, .winner p{
		color: #fff;
			padding-top: 8px;
			background-repeat: no-repeat;
			background-position: center;
			width: 181px;
			height: 53px;
			margin: 0px auto;
			margin-top: 73px;
			display: block;
			background-image: url('../assets/grey-date.png');

	}

	.thisDay{
		.active .date-overview p{
			
			background-image: url('../assets/red-date.png');

		}
		.active:after{
				content: url('../assets/red-arrow.png');
				float: right;
				margin-top: 70px;
				margin-right: 20px;
			
		}

		.date-overview:before{
				display: block;
				position: absolute;
				@include transform(translateY(-10px));
				content: url('../assets/vandaag_label.png');
		}
	}

	.active .date-overview p{

			background-image: url('../assets/green-date.png');
	}

	.active{
		&:after{
			content: url('../assets/green-arrow.png');
			float: right;
			margin-top: 70px;
			margin-right: 20px;
		}
	}

	.winner{
		text-align: center;
		p{
			font-size: 3.8em;
		}

		a{
			display: block;
			margin: 20px 0px;
			font-size: 3.6em;
			padding: 20px;
			background-color: #636363;
			color: #FFF;
			&:before{
				content: url('../assets/leftie.png');
				margin-right: 15px;
			}
			&:after{
				content: url('../assets/rightie.png');
				margin-left: 15px;
			}
		}
	}

	.lastDay{

		a{
			background-color: #ed564d;
		}

		p{
			background-image: url('../assets/red-date.png');
		}
	}


}

.day-container{
	.header-name{
		background-image: url('../assets/empty-header.png');
		background-repeat: no-repeat;
		width: 640px;
		height: 172px;
	}
}


.votes{
	text-align: center;
	header h1{
		display: block;
		background-color: $green;
		font-size: 3.4em;
		color: #fff;
		padding: 10px 0px;

		&:before{
			content: url('../assets/stitches.png');
			position: absolute;
			margin-left: -80px;
			margin-top: -4px;
		}


		&:after{
			content: url('../assets/stitches.png');
			position: absolute;
			margin-left: 10px;
			margin-top: -4px;

		}
	}

	ul{
		width: 600px;
		margin: 0px auto;
		overflow: auto;
		p{
			margin-top: 30px;
			font-size: 2.5em;
			color: #3b3b3b;
		}

		li{
			margin-top: 40px;
			float: left;
			display: inline-block;
			background-repeat: no-repeat;
			margin-right: 20px;
			text-align: left;
			p{
				margin-top: 130px;
				background-image: url('../assets/green-dot.png');
				background-repeat: no-repeat;
				width: 46px;
				height: 46px;
				color: #fff;
				padding-left: 17px;
				padding-top: 11px;


			}

			.voted{
				background-image: url('../assets/red-dot.png');
			}
		}

	
	}


		.gebak li{
			width: 183px;
			height: 189px;
		}

		.gelach li{
			width: 164px;
			height: 156px;
			margin-right: 35px;
			p{
					margin-top: 105px;
			}
		}

		.geur li{
			margin-right: 0px;

		}


	.one-gebak{

		background-image: url('../assets/gebak-een.png');
	}

	.two-gebak{
		background-image: url('../assets/gebak-twee.png');
	}

	.three-gebak{
		margin-right: 0px;
		background-image: url('../assets/gebak-twee.png');
	}

	.one-lach{
	
		background-image: url('../assets/lach-een.png');
	}

	.two-lach{
		background-image: url('../assets/lach-twee.png');
	}

	.three-lach{
		margin-right: 0px;
		background-image: url('../assets/lach-twee.png');
	}

	.one-geur{
		width: 204px;
		height: 195px;

		background-image: url('../assets/geur-een.png');
	}

	.two-geur{
		width: 188px;
		height: 189px;
		background-image: url('../assets/geur-twee.png');
	}

	.three-geur{
		width: 167px;
		height: 192px;
		margin-left: 15px;
		background-image: url('../assets/geur-drie.png');
	}

}

.error{
	display: block;
	border-color: #ed564d;
}

.register-container .red{
	color: #ed564d;
}

.error-town{
	margin-top: 5px;
}

.empty{
	color: #ed564d;
	font-size: 2.2em;
	margin-bottom: 4px;
	font-family: aleobold, aleoregular, sans-serif;
	text-align: center;
}

.winners-container{
	.winners{
		width: 640px;
		margin: 0px auto;
		overflow: auto;
	}
	header h1{
		width: 640px;
		height: 220px;
		margin: 0px auto;
		background-image: url('../assets/winnaar-header.png');
		background-repeat: no-repeat;
	}

	li{
		overflow: auto;
		margin-top: 20px;
		margin-bottom: 40px;
		margin-left: 50px;
		&:after{
			overflow: hidden;
			display: block;
			content: url('../assets/stripe.png');
						margin-top: 50px;

		}
	}

	.square{
		float: left;
		width: 183px;
		height: 183px;
		overflow: hidden;
		img{
			width: 183px;
		}
		&:before{
		 position: absolute;
		 margin-left: -10px;
		 margin-top: -8px;
			content: url('../assets/seam.png');
		}
	}

	li h1{
		font-size: 2.6em;
		color: #373737;
		margin-bottom: 14px;
		font-family: aleobold, aleoregular, sans-serif;
	}

	.reg{
		display: inline;
		font-family: aleoregular, sans-serif;
	}

	.label{
		display: inline-block;
		padding-left: 50px;
		width: 270px;
		padding-top: 8px;
		padding-bottom: 8px;
		background-color: #ebebeb;
		font-size: 2.3em;

	}

	.label-el{
		box-sizing: border-box;
		margin-top: 24px;
		display: block;
	}

	.score{
		position: absolute;

		margin-left: -20px;
				margin-top: -7px;
		color: #fff;
		font-size: 2.8em;
		font-family: aleobold, aleoregular, sans-serif;
		display: inline-block;
		width: 42px;
		padding-top: 13px;
		padding-left: 13px;
		height: 55px;
		background-image: url('../assets/ruit.png');
		background-repeat: no-repeat;
	}

	.terug-week{

		padding-top: 22px;
		width: 390px;
		margin-bottom: 30px;
	}

	.number1{
		margin-top: 0px;
		margin-bottom: 60px;

		&:after{
			margin-top: 80px;
		}
			.square{
			width: 233px;
			height: 233px;

			img{
				width: 233px;
			}
			&:before{

			 margin-left: -37px;
			 margin-top: -58px;
				content: url('../assets/winner-frame.png');
			}
		}

		h1{
			font-family: manus, sans-serif;
			font-size: 3.4em;
			padding: 17px;
			margin-left: 240px;
			@include transform(translateY(60px));

			.reg{
				display: none;
			}
		}

		.top-label{
			margin-top: 70px;
		}

	}
}

.cms{
	display: block;
	margin: 0px auto;
	width: 240px;
	padding: 20px;
	position: fixed;
	font-size: 2em;
	-webkit-appearance: menulist-button;

	height: 46px;
}