<select>
	<option value='0' selected="selected">Dag 0: De week is nog niet begonnen.</option>
	<option value='1'>Dag 1</option>
	<option value='2'>Dag 2</option>
	<option value='3'>Dag 3</option>
	<option value='4'>Dag 4</option>
	<option value='5'>Dag 5: Winnaar bekend.</option>
</select>