<header>
	<h1>foto's</h1>
</header>
<div class="photo-upload">
    <div class="photo-gal-upload"><input accept="image/*;capture=camera" type="file" name="photo" placeholder="photo" class="photo-input gall-input" value=""/></div>
	<div class="photos"></div>
</div>