<h1><span>Komen Kaarten</span></h1>
<p class="info"><a href="">i</a></p> 
<a href='#register' title='Klik om te registeren' class="register">Inschrijven</a>

<p class="login-p gray-p">Al ingeschreven? Log in:</p>
<form class="login" action="" method="post" accept-charset="utf-8">
    <input type="text" name="email" placeholder="email@voorbeeld.be" class="email-input default-input"  value=""/>
    <input type="password" name="password" placeholder="paswoord" class="password-input default-input" value=""/>
    </select>
    <input type="submit" class="login-submit" value="Inloggen"/>
  </form>
