<form class="register" action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <input type="text" name="name" placeholder="Voornaam Achternaam" class="name-input" value="Charlotte Vanroelen"/>
    <input type="text" name="email" placeholder="emailadres" class="email-input" value="fetch@live.be"/>
    <input type="password" name="password" placeholder="paswoord" class="password-input" value="1234"/>
    <input type="file" name="photo" placeholder="photo" class="photo-input" value=""/>
    <input type="text" name="street" placeholder="street" class="street-input" value="Resedastraat 53"/>
    <input type="text" name="town" placeholder="8500" class="town-input" value="9000"/>
    </select>
    <input type="submit" class="submit" value="register"/>
  </form>