<h1><span>Registreer</span></h1>
<a href="#home" class="terug">terug</a>
<p class="gray-p">Alle velden zijn verplicht</p>
<p class="fieldset">Logingegevens</p>
<form class="register" action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <input type="text" name="name" placeholder="voornaam achternaam" class="name-input default-input" />
    <span class="empty error-name"></span>

    <input type="text" name="email" placeholder="e-mailadres" class="email-input default-input"/>
        <span class="empty error-email"></span>

    <input type="password" name="password" placeholder="wachtwoord" class="password-input default-input" />
    <span class="empty error-pass"></span>


    <p class="fieldset fieldset-woonplaats">Woonplaats</p>

    <input type="text" name="street" placeholder="straat + huisnummer" class="street-input default-input" />
    <span class="empty error-street"></span>

    <div class="group">
	    <input type="text" name="town" placeholder="postcode" class="town-input default-input" />
		<button type="button" class="use-location">gebruik mijn locatie</button>
	</div>
	    <span class="empty error-town"></span>


	<div class="center">
    <div class="group group-photo">
		<div class="photo-upload">
	        <input accept="image/*;capture=camera" type="file" name="photo" placeholder="photo" class="photo-input" value=""/>
			<div class="frame"><div class="preview-cont"></div></div>
		</div>
	</div>

	<div class="photo-p-div">
	 <p class="photo-p">Je afbeelding mag niet groter zijn dan 5MB.</p>
	 <span class="empty error-photo"></span>

	</div>
	</div>



    <input type="submit" class="submit register-submit" value="Registreer"/>
  </form>