<header>
	<h1>jouw beoordeling</h1>
</header>
<ul class='gebak'>
	<p>Kwaliteit Gebak?</p>
	<li class='vote one-gebak'><p alt='1' class="one">1</p></li>
	<li class='vote one-gebak'><p alt='2' class="two">2</p></li>
	<li class='vote three-gebak'><p alt='3' class="three">3</p></li>
</ul>
<ul class='gelach'>
	<p>Goed gelachen?</p>
	<li class='vote one-lach'><p alt='1' class="one">1</p></li>
	<li class='vote two-lach'><p alt='2' class="two">2</p></li>
	<li class='vote three-lach'><p alt='3' class="three">3</p></li>
</ul>
<ul class='geur'>
	<p>Geur van het huis?</p>
	<li class='vote one-geur'><p alt='1' class="one">1</p></li>
	<li class='vote two-geur'><p alt='2' class="two">2</p></li>
	<li class='vote three-geur'><p alt='3' class="three">3</p></li>
</ul>