<header>
	<h1>jouw beoordeling</h1>
</header>
<ul class='gebak'>
	<p>Kwaliteit Gebak?</p>
	<li class='vote'><img class='one' alt='1' title='click to vote'/></li>
	<li class='vote'><img class='two' alt='2' title='click to vote'/></li>
	<li class='vote'><img class='three' alt='3' title='click to vote'/></li>
</ul>
<ul class='gelach'>
	<p>Goed gelachen?</p>
	<li class='vote'><img class='one' alt='1' title='click to vote'/></li>
	<li class='vote'><img class='two' alt='2' title='click to vote'/></li>
	<li class='vote'><img class='three' alt='3' title='click to vote'/></li>
</ul>
<ul class='geur'>
	<p>Geur van het huis?</p>
	<li class='vote'><img class='one' alt='1' title='click to vote'/></li>
	<li class='vote'><img class='two' alt='2' title='click to vote'/></li>
	<li class='vote'><img class='three' alt='3' title='click to vote'/></li>
</ul>