<h1><span>Deelnemers</span></h1>
<p class="date-week">{{formatWeek attributes.startDate}}</p>
<img src="assets/long-curl-left.png" alt="ornament" class="img-curl" title="ornament" width="146"/> 
<ul class='users'></ul>
<a class='link' href='#' title='Klik om verder te gaan.'>Ga verder</a>