<h1>jouw week</h1>
<p>Klik op de pijl om je beoordeling van die dag te geven</p>
<ul class='days'></ul>
<div>
	<p>{{endDate attributes.startDate}}</p>
	<a class='link' title='Klik om de winnaar te zien!'>Bekendmaking winnaar</a>
</div>