<h1>{{naam}}</h1>
<div class="square">
	<img href='' src='uploads/users/{{id}}{{extension}}'alt='afbeelding' class="img-usr"/>
</div>
<p>kwaliteit gebak</p>
<p>goed gelachen?</p>
<p>geur van het huis?</p>